<nav class="navbar navbar-expand" style="background-color: rgb(80, 148, 204);">
  <div class="container-fluid">
    <span class="navbar-text" style="font-weight: bolder;font-size: large; color: rgb(1, 1, 92);"><span class='glyphicon glyphicon-fire'></span> My Project</span>
    <ul class="nav navbar-nav">
      <li class="active"><a style="font-weight: bolder;font-size: small;">Home</a></li>
      <li><a style="font-weight: bolder;font-size: small;" (click)="loadAddContact()">Add Contact</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a style="font-weight: bolder;font-size: small;" (click)="logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
  </div>
</nav>
<br/>
<div class="container-fluid">
  <ag-grid-angular
    class="ag-theme-quartz"
    style="height: 500px;"
   [rowData]="contacts"
   [columnDefs]="colDefs" />
</div>
<br/>
<footer class="container-fluid text-center">
  <p>© Copyright My Project 2024. All rights reserved.</p>
</footer>